body {
    background-color: grey;
    text-align: center;
    cursor:pointer;
}

img
{
    border: 10px solid white;
    border-radius: 10%;
}

.p1 {
   
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 500px;
    margin-left: 500px;
    color: greenyellow;
    font-family: "Lucida Console", "Courier New", monospace;
}

ul {
   
    margin-left: 880px;
    margin-right: 900px;
}

p3 {
    color:greenyellow;
    font-size: 20px;
}
